.App {
  text-align: center;
}

.line {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin: 10px 0;
}

.block {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background: green;
}

.misplaced {
    background: blueviolet;
}

.incorrect {
    background: white;
}